<%= form_for(@stack) do |f| %>
  <% if @stack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack.errors.count, "error") %> prohibited this stack from being saved:</h2>

      <ul>
      <% @stack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field cf">
    <%= f.label :name %> <%= f.text_field :name %>
  </div>
  <div class="field cf">
    <%= f.label :description %><%= f.text_area :description %>
  </div>



  <h1 class="ingredients-header">Ingreditents</h1>
  <%= f.fields_for :ingredients do |i| %>
   <div class="field cf">
      <%= i.label :name, "Ingredient Name"  %><%= i.text_field :name, :rows => 3 %><br />
   </div>
  <% end %>
  <p class="add-link"><%= link_to_add_fields "<i class='icon-plus'></i> Add Ingedient".html_safe, f, :ingredients %></p>

  










  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
