<%= form_for(@stack) do |f| %>
  <% if @stack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack.errors.count, "error") %> please check red fields:</h2>

      <ol>
      <% @stack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ol>
    </div>
  <% end %>

  <div class="field cf">
    <%= f.label :name %> <%= f.text_field :name %>
  </div>
  <div class="field cf">
    <%= f.label :description %><%= f.text_area :description %>
  </div>


<div id="stack-images">
  <!-- <h1 class="images-header">Images</h1> -->

<div class="stack-images-inputs">  
  <%= f.fields_for :stack_images do |i| %>
   <div class="field cf">

   </div>
  <% end %>
</div>


</div>

<h1 class="ingredients-header">Ingreditents</h1>

<div class="ingredients">  
  <%= f.fields_for :ingredients do |i| %>
   <div class="field cf">
      <%= i.label :name, "Ingredient Name"  %><%= i.text_field :name, :rows => 3 %> 
      <%= i.text_field :percentage,   :placeholder => 'Percentage',:class => 'Percentage' %><br />
   </div>
  <% end %>
</div>

  <p class="add-link"><%= link_to_add_fields "<i class='icon-plus'></i> Add Ingedient".html_safe, f, :ingredients %></p>

  <!-- foo -->

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
