<%= form_for(@stack) do |f| %>
  <% if @stack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack.errors.count, "error") %> please check red fields:</h2>

      <ol>
      <% @stack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ol>
    </div>
  <% end %>


<% if  user_signed_in?  && current_user.username == "jahrichie" %>
<table style="background:transparent;border:0;">
  <td><%= f.label :featured, :style => 'margin-top:5px;' %></td>
  <td><%= f.check_box :featured  %></td>
</table>
<% end %>   


  <div class="field cf">
   <%= f.text_field :name, :class => "required", :placeholder => 'Name' %>
  </div>
  <div class="field cf">
    <%= f.text_area :description, :class => "required", :placeholder => 'Description' %>
  </div>


<div id="stack-images">
  <!-- <h1 class="images-header">Images</h1> -->

<div class="stack-images-inputs">  
  <%= f.fields_for :stack_images do |i| %>
   <div class="field cf">

   </div>
  <% end %>
</div>


</div>

<h1 class="ingredients-header">Ingreditents</h1>

<div class="ingredients">  
  
    <%= f.fields_for :ingredients do |i| %>
      <table id="ingredients">
       <div class="field cf">
          <tr>
            <td><%= i.text_field :name, :rows => 3 ,:placeholder => 'Ingredient Name', :class => "required"%> </td>
            <td><%= i.text_field :percentage,   :placeholder => 'Percentage',:class => 'Percentage required' %>
            </td>
          </tr>
               </div>
      </table>
    <% end %>

</div>



  <p class="add-link"><%= link_to_add_fields "<i class='icon-plus'></i> Add Ingedient".html_safe, f, :ingredients %></p>



<div class="goals-inputs">  
  <h1 class="goals-header">Stack Goals</h1>  
  <%= f.fields_for :goals do |i| %>
     <%= i.text_field :description, :rows => 3 , :placeholder => 'Goal Description', :class => "required"%> 
  <% end %>
</div>
  <p class="add-link"><%= link_to_add_goals "<i class='icon-plus'></i> Add Goals".html_safe, f, :goals %></p>

  <!-- foo -->

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
