<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stack.name %>
</p>

<p>
  <b>Description:</b>
  <%= @stack.description %>
</p>

<h3>images</h3>
 
  <% for image in @stack.stack_images %>
    <div class="stack-images-wrapper">
      <%= h image_tag image.name, :class => 'google-image-show' %></li>
      <%= link_to 'Destroy', image, class: 'image-destroyer',method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
 




<h3>ingredients</h3>
<ol>
  <% for ingredient in @stack.ingredients %>
  <li><%= h ingredient.name %></li>

  <% end %>
</ol>



<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
