<p id="notice"><%= notice %></p>
<h1><%= @stack.name %></h1>

<h3>ingredients</h3>
<div class="this-stack">
  <% for ingredient in @stack.ingredients %> 
    <div class="stack" style="font-size:<%= ingredient.percentage %>%;height:<%= ingredient.percentage %>%;background:<%= background_color_helpa.sample %>"><%= ingredient.name  %></div>
  <% end  %>
</div>






 
  <% for ingredient in @stack.ingredients %>
 
  
    <span class="chart" data-percent="<%=  ingredient.percentage %>">
      <%=  ingredient.percentage %>%
    </span>
   
  <div class="label"><%= h ingredient.name %></div>
  <% end %>
 
 



<p>
  <%= @stack.description %>
</p>

<h3>images</h3>
 
  <% for image in @stack.stack_images %>
    <div class="stack-images-wrapper">
      <%= h image_tag image.name, :class => 'google-image-show' %></li>
      <%= link_to 'Destroy', image, class: 'image-destroyer',method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
 


<div class="cf">

  <%= link_to 'Edit', edit_stack_path(@stack) %> |
  <%= link_to 'Back', stacks_path %>

</div>

