<p id="notice"><%= notice %></p>

 <% if user_signed_in?  && current_user.id == @stack.user_id %> 
  <div class="button edit-this-stack cf">
    <%= link_to 'Edit', edit_stack_path(@stack) %> 
  </div>
 <% end  %>

<h1><%= @stack.name %></h1>
<h3>Goals</h3>
<ol id="goals">
  <% for goal in @stack.goals %> 
    <li><%= goal.description %></li>
  <% end  %>
</ol>


<h3>ingredients</h3>
<div class="this-stack">
  <% for ingredient in @stack.ingredients %> 
    <%= stack_representation(ingredient).html_safe %>
  <% end  %>
</div>

<div class="ingredient-dials-wrapper cf">  
  <% for ingredient in @stack.ingredients %>
    <span class="chart" data-percent="<%=  ingredient.percentage %>">
      <%=  ingredient.percentage %>%
    </span>
   
  <div class="label"><%= h ingredient.name %></div>
  <% end %>
</div>
 



<p style="clear:both">
  <h3>Description</h3>
  <%= @stack.description %>
</p>


<% if  @stack.stack_images.count > 0  %>
  <h3>images</h3>
   <div class="stack-all-images-wrapper">
     <% for image in @stack.stack_images %>
       <div class="stack-images-wrapper">
         <%= h image_tag image.name, :class => 'google-image-show' %></li>
         <%= link_to 'Destroy', image, class: 'image-destroyer',method: :delete, data: { confirm: 'Are you sure?' } %>
       </div>
     <% end %>
    </div>
<% end %>
