<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @goal.description %>
</p>

<p>
  <b>Stack:</b>
  <%= @goal.stack_id %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
