<!DOCTYPE html>
<html>
<head>
  <title>noo stack</title>
  <link rel="shortcut icon" href="/favicon.ico?05112013" /> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="full-width-top">
    &nbsp;
    <div class="search">
      <%= render 'search' %>  
    </div>
</div>

<%= render '/layouts/nav' %>

<%= yield %>

</body>
</html>
